<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="AUTH0_MANAGEMENT_API_TOKEN" value="eyJhb"/>
        <env name="AUTH0_DOMAIN" value="your.eu.auth0.com"/>
        <env name="AUTH0_CLIENT_ID" value="5LqX9"/>
        <env name="AUTH0_CLIENT_SECRET" value="GdtFrBuCMkUZj5a"/>
        <env name="AUTH0_AUDIENCE" value="con_ziwAe"/>
        <env name="AUTH0_ORGANIZATION_ID" value="org_CWVu"/>
    </php>
</phpunit>